# **EXPEDITIONER**
### *2018-10-20* | *Steven Rankine* | *Data Analytics Boot Camp (Fall 2018)*
- - -

Download the file exped.xls. This file is a sample of 1000 sales transactions for the Expeditioner. For each sale, there is a row recording when it was sold, where it was sold, what was sold, how it was sold, the quantity sold, and the sales revenue.

In [5]:
# Import libraries
import os
import pandas as pd
import numpy  as np
os.getcwd()

'/home/nbuser/library/notebooks'

In [6]:
# Import data into the python environment
Location = "../datasets/exped2.xls"
df = pd.read_excel(Location)
df.head()

,Transid,WHEN,OtherWhen,WHERE,WHAT,HOW,QUANTITY,REVENUE
0,1,2002-11-30,11/30/2002,Paris,Exploring in 10 Easy Lessons,Store,4,80
1,2,2002-10-20,10/20/2002,London,Camel saddle,Catalog,3,1794
2,3,2002-11-07,11/07/2002,Paris,Compass,Store,2,16
3,4,2002-07-28,07/28/2002,London,Geo positioning system,Store,3,885
4,5,2002-08-05,08/05/2002,Paris,Hammock,Store,3,165

In [7]:
# Introduce 3 new data columns derived from the WHEN data column
df['Month']   = df['WHEN'].dt.month
df['Year']    = df['WHEN'].dt.year
df['Quarter'] = df['WHEN'].dt.quarter
df.head(2)

,Transid,WHEN,OtherWhen,WHERE,WHAT,HOW,QUANTITY,REVENUE,Month,Year,Quarter
0,1,2002-11-30,11/30/2002,Paris,Exploring in 10 Easy Lessons,Store,4,80,11,2002,4
1,2,2002-10-20,10/20/2002,London,Camel saddle,Catalog,3,1794,10,2002,4

- - -
## *Solution*:

In [8]:
# a) What was the value of catalog sales for London in the first quarter? 
crit = (df['WHERE'] == 'London') & (df['Quarter'] == 1) & (df['HOW'] == 'Catalog')
tbl  = pd.pivot_table(df[crit], index=["WHAT"], values="REVENUE", margins=True, aggfunc=np.sum)
ansA = tbl.loc["All","REVENUE"]

In [9]:
# b) What percent of the total annual sales were Tokyo Web sales in the fourth quarter? 
crit = (df['Quarter'] == 4)
tbl  = pd.pivot_table(df[crit], index=["WHERE"], values="REVENUE", margins=True, aggfunc=np.sum)
ansB = 100 * tbl.loc["Tokyo","REVENUE"] / tbl.loc["All","REVENUE"]

In [10]:
# c) What percent of Sydney's annual sales was its Catalog sales? 
crit = (df['HOW'] == 'Catalog')
tbl  = pd.pivot_table(df[crit], index=["WHERE"], values="REVENUE", margins=True, aggfunc=np.sum)
ansC = 100 * tbl.loc["Sydney","REVENUE"] / tbl.loc["All","REVENUE"]

In [12]:
# d) What was the value of catalog sales for London in January ? 
crit = (df['HOW'] == 'Catalog') & (df['WHERE'] == 'London') & (df['Month'] == 1)
tbl  = pd.pivot_table(df[crit], index=["Transid"], values=["REVENUE"], margins=True, aggfunc=np.sum)
ansD = tbl.loc["All","REVENUE"]

# Details of the transactions
ansD_Details = df.loc[crit,["WHEN","WHAT","WHERE","QUANTITY","REVENUE"]]

In [13]:
# e) What was the value of Camel saddle sales for Paris in 2002 by quarter?
crit = (df['WHAT'] == 'Camel saddle') & (df['WHERE'] == 'Paris') & (df['Year'] == 2002)
tbl  = pd.pivot_table(df[crit], index=["Quarter"], values=["REVENUE"], margins=True, aggfunc=np.sum)
ansE = tbl

In [14]:
# f) How many Elephant polo sticks were sold in New York in each month of 2002?
crit = (df['WHERE'] == 'New York') & (df['WHAT'] == 'Elephant polo stick')
tbl  = pd.pivot_table(df[crit], index="Month", values="QUANTITY", margins=True, aggfunc=np.sum)

# loop through data frame and fill in missing values
for i in range(1,12):
    test = (i in tbl.index)
    if not test: 
        tbl.loc[i,'QUANTITY'] = int(0)

# Change numerical months to 3-lettr abbreviation
ansF = tbl.reindex([1,2,3,4,5,6,7,8,9,10,11,12,'All'])
ansF.index = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec','All']

In [15]:
# Display results to the console
print("a) What was the value of catalog sales for London in the first quarter?    $%d"     % (ansA))
print("b) What pct of the total annual sales were Tokyo Web sales in the 4th Qtr? %3.2f%%" % (ansB))
print("c) What pct of Sydney's annual sales was its Catalog sales?                %3.2f%%" % (ansC))
print("d) What was the value of catalog sales for London in January?              $%d"     % (ansD))
print("   Give details of the transactions:\n\n", ansD_Details, "\n")
print("e) What was the value of Camel saddle sales for Paris in 2002 by quarter?\n\n", ansE, "\n")
print("f) How many Elephant polo sticks were sold in NY in each month of 2002?  \n\n", ansF, "\n")

a) What was the value of catalog sales for London in the first quarter?    $7810
b) What pct of the total annual sales were Tokyo Web sales in the 4th Qtr? 13.11%
c) What pct of Sydney's annual sales was its Catalog sales?                5.03%
d) What was the value of catalog sales for London in January?              $411
   Give details of the transactions:

           WHEN                  WHAT   WHERE  QUANTITY  REVENUE
113 2002-01-09  Hat - polar explorer  London         4      136
276 2002-01-09               Hammock  London         5      275

e) What was the value of Camel saddle sales for Paris in 2002 by quarter?

          REVENUE
Quarter
1          13156
2          14950
3          24518
4           8372
All        60996

f) How many Elephant polo sticks were sold in NY in each month of 2002?

      QUANTITY
Jan       0.0
Feb       0.0
Mar       5.0
Apr       7.0
May       2.0
Jun       0.0
Jul       1.0
Aug       5.0
Sep       2.0
Oct       0.0
Nov       0.0
Dec       7.0
All      29.0