*********************************************************
* Author....: Steven Rankine                            *
* Date......: 2018-10-06                                *
* Subject...: Data Analytics Boot Camp, Fall 2018       *
* Assignment: Week #1 -- Your Turn                      *
*********************************************************

# Your Turn 1

Export the data below to csv & Excel

In [ ]:
names = ['Bob','Jessica','Mary','John','Mel']
grades     = [76,95,77,78,99]
bsdegrees  = [1,1,0,0,1]
msdegrees  = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]

### *Solution*:

In [ ]:
# Import libraries
import pandas as pd
import numpy as np

In [ ]:
# Build a data frame
ColNames  = ['Names','Grades','BS','MS','PHD']
GradeList = list(zip(names,grades,bsdegrees,msdegrees,phddegrees))
df = pd.DataFrame(data = GradeList, columns=ColNames)
df

In [ ]:
# Export csv file
df.to_csv('df.csv', index=False, header=False)

In [ ]:
# Export excel file
writer = pd.ExcelWriter('df.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1')
writer.save()

# Your Turn 2

In weekly_call_data folder, import all files into one dataframe

### *Solution*:

In [ ]:
# Import libraries
import glob
# Create empty dataframe
all_data = pd.DataFrame() 
# Loop through all files and append to dataframe
for f in glob.glob("datasets/weekly_call_data/*.*"):
    df = pd.read_excel(f)
    all_data = all_data.append(df, ignore_index=True)
    
all_data.count() # each data file had 100 rows

# Your Turn 3

- Find dataset on Kaggle
- download dataset
- upload dataset to Jupyter notebook
- read dataset in notebook as dataframe
- practice today's python functions on dataset; what can you find?

### *Solution*:

In [9]:
# Import Kaggle Data
location = "../datasets/kaggle/metro-bike-share-trip-data.csv"
df = pd.read_csv(location, low_memory=False) 
df.head(3)

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,Bike ID,Plan Duration,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long
0,1912818,180,2016-07-07T04:17:00,2016-07-07T04:20:00,3014.0,34.056610,-118.23721,3014.0,34.056610,-118.23721,6281.0,30.0,Round Trip,Monthly Pass,"{'longitude': '-118.23721', 'latitude': '34.05...","{'longitude': '-118.23721', 'latitude': '34.05..."
1,1919661,1980,2016-07-07T06:00:00,2016-07-07T06:33:00,3014.0,34.056610,-118.23721,3014.0,34.056610,-118.23721,6281.0,30.0,Round Trip,Monthly Pass,"{'longitude': '-118.23721', 'latitude': '34.05...","{'longitude': '-118.23721', 'latitude': '34.05..."
2,1933383,300,2016-07-07T10:32:00,2016-07-07T10:37:00,3016.0,34.052898,-118.24156,3016.0,34.052898,-118.24156,5861.0,365.0,Round Trip,Flex Pass,"{'longitude': '-118.24156', 'latitude': '34.05...","{'longitude': '-118.24156', 'latitude': '34.05..."

In [12]:
# Explore Data
df.describe()

,Trip ID,Duration,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,Bike ID,Plan Duration
count,1.324270e+05,132427.000000,132408.000000,132379.000000,132379.000000,132331.00000,131376.000000,131376.000000,132417.000000,131661.000000
mean,1.153001e+07,1555.301562,3043.020754,34.039309,-118.221534,3042.38672,34.034614,-118.206642,6193.618878,44.821967
std,6.369462e+06,5814.241813,37.742021,0.529336,1.838335,43.08440,0.650706,2.259913,293.606755,90.411579
min,1.912818e+06,60.000000,3000.000000,0.000000,-118.472832,3000.00000,0.000000,-118.472832,1349.000000,0.000000
25%,5.060814e+06,360.000000,3024.000000,34.044170,-118.256980,3022.00000,34.044159,-118.256981,5953.000000,0.000000
50%,1.043827e+07,600.000000,3040.000000,34.046822,-118.250954,3038.00000,34.046810,-118.250954,6186.000000,30.000000
75%,1.720633e+07,1080.000000,3063.000000,34.050880,-118.241562,3063.00000,34.050480,-118.238810,6434.000000,30.000000
max,2.379422e+07,86400.000000,4108.000000,34.064281,0.000000,4108.00000,34.064281,0.000000,6728.000000,365.000000